* {
  box-sizing: border-box;
}

@font-face {
  font-family: myFirstFont;
  src: url("fonts/scribble.regular.ttf");
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --gray1: #d3d3d3;
  --teal: #006060;
  --skyblue: #0ce3f2;
  --orange: #ffd500;
  --lightblue: #00fde4;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
}

.container h1 {
  margin-top: 80px;
  text-align: center;
}

.navbar {
  position: relative;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100px;
  background-color: var(--black);
  /* So I tried to do text-align to right here, but that did not work...  */
  /* I would like to ask more information about how to know where to put things
  so that I can properly modify the elements!
   */
}

.navbar ul {
  list-style-type: none;
  margin: 3px;
  padding: 0;
  text-align: right;
}

main.container {
  border: 0;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Contact Form */

form.loginForm {
  display: block;
  justify-self: center;
  border-style: solid;
  width: 400px;
  padding: 10px;
  background-color: var(--white);
}

form.loginForm h1 {
  display: flex;
  justify-content: left;
}

section.input_form label {
  display: inline-block;
  width: 150px;
  text-align: left;
  font-weight: bold;
  line-height: 50px;
}

section.input_form input {
  display: inline-block;
  width: 200px;
  line-height: 20px;
}

section.pronouns fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

section.pronouns legend {
  display: flex;
  margin-bottom: 0;
  font-weight: bold;
}

.form_submit {
  background-color: black;
  color: white;
  width: 180px;
  height: 25px;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form_reset {
  background-color: white;
  border-color: black;
  border: 1px solid black;
  width: 180px;
  height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form_submit:hover {
  background-color: var(--violetred);
}

.form_reset:hover {
  background-color: var(--gray1);
}

/* About page section */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  justify-content: center;
}

p.bio {
  width: 50%;
}

/* Navbar styling code */

@media screen and (min-width: 905px) {
  .navbar ul li {
    display: inline-block;
  }

  /*  nav ul li a (to make things specific) */
  .navbar ul li a {
    display: flex;
    width: 100%;
    /* this is the width of the parent element! */
    /* margin: 1em; */
    padding: 1em;
    text-decoration: none;
    color: var(--white);
    border: 1px;
    border: solid;
    border-color: var(--black);
  }

  p#nav-name {
    color: var(--white);
    font-family: myFirstFont;
    color: var(--skyblue);
    font-size: 60px;
  }

  .navbar .icon {
    display: none;
  }

  .navbar ul li a:hover {
    display: block;
    border: 1px;
    border-style: solid;
    border-color: var(--skyblue);
    border-radius: 5%;
  }
}

/* I got this media query from here: */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */

@media screen and (min-width: 5001px) and (max-width: 905px) {
  .navbar ul {
    display: none;
  }

  p#nav-name {
    font-family: myFirstFont;
    color: var(--skyblue);
    font-size: 60px;
    padding-left: 5px;
  }

  .navbar a.icon {
    float: right;
    display: block;
    justify-content: space-around;
    font-size: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .navbar .responsive {
    position: relative;
  }

  .navbar .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    padding-top: 0;
    padding-right: 10px;
  }

  .navbar .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
  .navbar .responsive {
    position: relative;
  }

  .navbar ul,
  p#nav-name {
    display: none;
  }

  .navbar a.icon {
    float: right;
    display: block;
    justify-content: space-around;
    font-size: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .navbar .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 40px;
    padding-top: 0;
    padding-right: 10px;
  }

  .navbar .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
